<a href="https://colab.research.google.com/github/thuthumvelo25/regression-predict-api-team-20/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df = pd.read_csv("Train.csv")

In [3]:
df.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [0]:
def percent_missing(df):
    out = dict()
    for column in df.columns:
        out[column] = np.round(df[column].isnull().sum() / len(df[column]) * 100, 2)
    return out

In [5]:
percent_missing(df)

{'Arrival at Destination - Day of Month': 0.0,
 'Arrival at Destination - Time': 0.0,
 'Arrival at Destination - Weekday (Mo = 1)': 0.0,
 'Arrival at Pickup - Day of Month': 0.0,
 'Arrival at Pickup - Time': 0.0,
 'Arrival at Pickup - Weekday (Mo = 1)': 0.0,
 'Confirmation - Day of Month': 0.0,
 'Confirmation - Time': 0.0,
 'Confirmation - Weekday (Mo = 1)': 0.0,
 'Destination Lat': 0.0,
 'Destination Long': 0.0,
 'Distance (KM)': 0.0,
 'Order No': 0.0,
 'Personal or Business': 0.0,
 'Pickup - Day of Month': 0.0,
 'Pickup - Time': 0.0,
 'Pickup - Weekday (Mo = 1)': 0.0,
 'Pickup Lat': 0.0,
 'Pickup Long': 0.0,
 'Placement - Day of Month': 0.0,
 'Placement - Time': 0.0,
 'Placement - Weekday (Mo = 1)': 0.0,
 'Platform Type': 0.0,
 'Precipitation in millimeters': 97.4,
 'Rider Id': 0.0,
 'Temperature': 20.59,
 'Time from Pickup to Arrival': 0.0,
 'User Id': 0.0,
 'Vehicle Type': 0.0}

In [0]:
#Dropping column of Precipitation in millimeters as it has large percenage of null values
df = df.drop(columns = ["Precipitation in millimeters"])

In [0]:
#Fill the nulls from Temperature column with a mean
df = df.fillna(df.mean())

In [0]:
def percent_missing(df):
    out = dict()
    for column in df.columns:
        out[column] = np.round(df[column].isnull().sum() / len(df[column]) * 100, 2)
    return out

In [9]:
percent_missing(df)

{'Arrival at Destination - Day of Month': 0.0,
 'Arrival at Destination - Time': 0.0,
 'Arrival at Destination - Weekday (Mo = 1)': 0.0,
 'Arrival at Pickup - Day of Month': 0.0,
 'Arrival at Pickup - Time': 0.0,
 'Arrival at Pickup - Weekday (Mo = 1)': 0.0,
 'Confirmation - Day of Month': 0.0,
 'Confirmation - Time': 0.0,
 'Confirmation - Weekday (Mo = 1)': 0.0,
 'Destination Lat': 0.0,
 'Destination Long': 0.0,
 'Distance (KM)': 0.0,
 'Order No': 0.0,
 'Personal or Business': 0.0,
 'Pickup - Day of Month': 0.0,
 'Pickup - Time': 0.0,
 'Pickup - Weekday (Mo = 1)': 0.0,
 'Pickup Lat': 0.0,
 'Pickup Long': 0.0,
 'Placement - Day of Month': 0.0,
 'Placement - Time': 0.0,
 'Placement - Weekday (Mo = 1)': 0.0,
 'Platform Type': 0.0,
 'Rider Id': 0.0,
 'Temperature': 0.0,
 'Time from Pickup to Arrival': 0.0,
 'User Id': 0.0,
 'Vehicle Type': 0.0}